<style>
    #login-form {
        display: flex;
        flex-direction: column;
        gap: var(--unit);
    }

    #login-form>input {
        width: 6em;
        border: none;
        padding: 0.3em;
    }

    #login-form>input:focus-visible {
        outline: none;
    }
</style>

<form id="login-form" method="post" action="/login">
    <input type="text" pattern="[0-9]*" inputmode="numeric" placeholder="PIN-kod" name="password" minlength="4"
        maxlength="4" required />

    <button type="submit">Logga in</button>
</form>