<!DOCTYPE html>
<html lang="en">

{{>partials/head}}

<style>
    main {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: var(--unit);
        align-items: center;
    }

    #content {
        margin-top: auto;
        margin-bottom: auto;
        align-self: center;
    }
</style>

<body>
    <main>
        <header>
            {{>partials/small_logo}}
        </header>

        <aside id="menu-container">
            {{>partials/menu}}
        </aside>

        <article id="content">
            <h1>Frågor & svar</h1>

            <h2>När sker vigseln?</h2>
            <p>Under förmiddagen kommer vigsel att ske i Stadshuset med närmsta familjen närvarande.</p>

            <h2>Jag vill hålla tal! Hur går jag till väga?</h2>
            <p>
                Vad roligt! Du kan höra av dig till vår toastmaster och toastmadame, Christopher och Louise Rehn, på
                <a href="mailto:jostrid-toastmaster@gmail.com">jostrid-toastmaster@gmail.com</a>
            </p>

            <h2>Vad önskar sig brudparet i present?</h2>
            <p>
                Den viktigaste present för oss är att du kommer på festen. Vill du ge en present uppskattar vi bidrag
                till bröllopsresan TODO bankkontonummer osv.
            </p>

            <h2>Skälby gård! Hur tar jag mig dit?</h2>
            <p>
                Skälby gård ligger i Järfälla med adressen Skälby Gårds väg 20, inte långt ifrån Barkarby station. Åker
                du kollektivt är närmsta
                hållplats är Budkavlevägen. Kolla SL:s reseplanerare för mer information. TODO: Infoga länk till
                reseplaneraren
            </p>

            <h2>Vilken klädkod gäller?</h2>
            <p>
                Utgå ifrån klädkoden <a href="http://www.kladkoder.nu/kavaj/">kavaj</a> när du väljer utstyrsel.
            </p>

            <h2>Vad blir det för middag?</h2>
            <p>
                Vegatarisk buffé.
            </p>

        </article>
    </main>
</body>

</html>