<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&display=swap" rel="stylesheet">
  <link href="/public/style.css" rel="stylesheet" />

</head>

<body>
  <main>
    <header>
      <img alt="icon of two wedding rings with a heart between them" src="/public/hero.svg" width="200" />
      <h1>Josefin & Astrid</h1>
      <p id="date">5 augusti 2023</p>
      <p id="location">Sk채lby g책rd, J채rf채lla</p>
    </header>

    {{>index/login}}
  </main>
</body>

</html>