<!DOCTYPE html>
<html lang="en">

{{>partials/head}}

<style>
    main {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: var(--unit);
        align-items: center;
    }

    #content {
        margin-top: auto;
        margin-bottom: auto;
        align-self: center;
    }

    .point {
    }
</style>

<body>
    <main>
        <header>
            {{>partials/small_logo}}
        </header>

        <aside id="menu-container">
            {{>partials/menu}}
        </aside>

        <article id="content">
            <h1>Agenda</h1>
            <p>Här följer ett cirkaschema för dagen.</p>
            <p class="point"><strong>11:30</strong> - Vigsel i stadshuset med närmsta familjen.</p>
            <p class="point"><strong>Från 15:00</strong> - Bubbel, snittar och mingel på Skälby gård</p>
            <p class="point"><strong>17:30</strong> - Middag</p>
            <p class="point"><strong>20:30</strong> - Första dansen & fest</p>

        </article>
    </main>
</body>

</html>