<!DOCTYPE html>
<html lang="en">

{{>partials/head}}

<style>
  #logo {
    width: 6rem;
  }

  #date {
    font-size: 1.3rem;
  }

  #location {
    font-size: 0.9rem;
  }

  main {
    justify-content: center;
    height: 100%;
  }

  main,
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>


<body>
  <main>
    <header>
      <img id="logo" alt="icon of two wedding rings with a heart between them" src="/public/hero.svg" width="200" />
      <h1>Josefin & Astrid</h1>
      <p id="date">5 augusti 2023</p>
      <p id="location">Sk채lby g책rd, J채rf채lla</p>
    </header>

    {{#if error}}
      {{reason}}
    {{/if}}

    {{>partials/login_form}}
  </main>
</body>

</html>