<!DOCTYPE html>
<html lang="en">

{{>partials/head}}

<style>
    #welcome-text {
        margin-bottom: calc(8 * var(--unit));
        text-align: center;
    }

    #welcome-text h2 {
        font-size: 2rem;
        font-weight: normal;
    }

    main {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: var(--unit);
        align-items: center;
    }

    header {
        justify-self: flex-start;
    }

    #content {
        margin-top: auto;
        margin-bottom: auto;
        align-self: center;
    }
</style>

<body>
    <main>
        <header>
            {{>partials/small_logo}}
        </header>

        <article id="content">

            <div id="welcome-text">
                <h2>
                    Välkommen,
                </h2>
                <p>
                    {{invite.name}}
                </p>
            </div>
            <div id="menu-container">
                {{>partials/menu}}
            </div>

        </article>
    </main>
</body>

</html>